In [1]:
print("Demo of basic data type: Numbers")
x=3
y=2.5
print("x=",x)
print("y=",y)
print("Datatype of variable x:",type(x))
print("Datatype of variable y:",type(y))
print("Addition",x+y)
print("Subtracion",x-y)
print("Multiply",x*2)
print("Exponention",x**2)

Demo of basic data type: Numbers
x= 3
y= 2.5
Datatype of variable x: <class 'int'>
Datatype of variable y: <class 'float'>
Addition 5.5
Subtracion 0.5
Multiply 6
Exponention 9

In [2]:
print("Demo of basic data type: Boolean")
t=True
f=False
print("t=",t)
print("f=",f)
print("Datatype of variable t:",type(t))
print("Datatype of variable f:",type(f))
print("Logical AND",t and f)
print("Logical OR",t or f)
print("Logical NOT",not t)
print("Logical XOR",t != f)

Demo of basic data type: Boolean
t= True
f= False
Datatype of variable t: <class 'bool'>
Datatype of variable f: <class 'bool'>
Logical AND False
Logical OR True
Logical NOT False
Logical XOR True

In [3]:
print("Demo of basic data type: String")
s="hello"
t="world"
print("String1",s)
print("String2",t)
d=s+" "+t
print("String concatenation",d)
print("Capitalization",d.capitalize())
print("Convert to uppercase",s.upper())
print("Right justfy a string",s.rjust(7))
print("String at center",s.center(70))
print("After replacin l with ell",s.replace('l','(ell)'))
print("String after striping leading and trailing white spaces:",'world'.strip())

Demo of basic data type: String
String1 hello
String2 world
String concatenation hello world
Capitalization Hello world
Convert to uppercase HELLO
Right justfy a string   hello
String at center                                 hello
After replacin l with ell he(ell)(ell)o
String after striping leading and trailing white spaces: world

In [4]:
print("Containers:list")
nums=list(range(5))
print("list'nums'contains:",nums)
nums[4]="abc"
print("elements of diff types",nums)
nums.append("xyz")
print("'nums' after inserting",nums)
print("Sublists:")
print("A slice from index 2 to 4:",nums[2:4])
print("A slice from index 2 to end:",nums[2:])
print("A slice from start to index 2:",nums[:2])
print("A slice of the whole list:",nums[:])
nums[4:]=[8,9]
print("After assigning new value to the list",nums)
for idx,i in enumerate(nums):
    print('%d:%s'%(idx+1,i))
even_squares=[x**2 for x in nums if x%2 == 0]
print("List of squares of even numbers from 'nums'",even_squares)

Containers:list
list'nums'contains: [0, 1, 2, 3, 4]
elements of diff types [0, 1, 2, 3, 'abc']
'nums' after inserting [0, 1, 2, 3, 'abc', 'xyz']
Sublists:
A slice from index 2 to 4: [2, 3]
A slice from index 2 to end: [2, 3, 'abc', 'xyz']
A slice from start to index 2: [0, 1]
A slice of the whole list: [0, 1, 2, 3, 'abc', 'xyz']
After assigning new value to the list [0, 1, 2, 3, 8, 9]
1:0
2:1
3:2
4:3
5:8
6:9
List of squares of even numbers from 'nums' [0, 4, 64]

In [5]:
print("Containers:Dictionaries")
d=dict()
d={'cat':'cute','dog':'furry'}
print("Dictionary:",d)
print("Is the dictionary has 'cat'?",'cat' in d)
d['fish']='wet'
print("After adding a new entry",d)
print("get an element monkey",d.get('monkey','N/A'))
print("get an element fish",d.get('fish','N/A'))
del d['fish']
print("After deleting the neewly added entry:",d)
print("Demo of dictionary compression")
squares={x:x*x for x in range(10)}
print("Squares of integers of range 10")
for k,v in squares.items():
    print(k,":",v)

Containers:Dictionaries
Dictionary: {'cat': 'cute', 'dog': 'furry'}
Is the dictionary has 'cat'? True
After adding a new entry {'cat': 'cute', 'dog': 'furry', 'fish': 'wet'}
get an element monkey N/A
get an element fish wet
After deleting the neewly added entry: {'cat': 'cute', 'dog': 'furry'}
Demo of dictionary compression
Squares of integers of range 10
0 : 0
1 : 1
2 : 4
3 : 9
4 : 16
5 : 25
6 : 36
7 : 49
8 : 64
9 : 81

In [6]:
print("Containers:sets")
num1={100,110,120}
print("Set 'num1':",num1)
num1.add(90)
print("num1 after inserting 90: ",num1)
num1.update([50,60,70])
print("num1 after inserting multiple numbers",num1)
num1.remove(60)
print("num1 after removing number 60",num1)
print("Set comprehension and set operations:")
n1={x for x in range(10)}
print("n1=",n1)
n2={x for x in range(10) if x%2!=0}
print("n2=",n2)
print("n1 union n2",n1|n2)
print("n1 intersection n2",n1&n2)
print("n1 difference n2",n1-n2)

Containers:sets
Set 'num1': {120, 100, 110}
num1 after inserting 90:  {120, 90, 100, 110}
num1 after inserting multiple numbers {100, 70, 110, 50, 120, 90, 60}
num1 after removing number 60 {100, 70, 110, 50, 120, 90}
Set comprehension and set operations:
n1= {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
n2= {1, 3, 5, 7, 9}
n1 union n2 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
n1 intersection n2 {1, 3, 5, 7, 9}
n1 difference n2 {0, 2, 4, 6, 8}

In [7]:
print("Containers:Tuples")
d={(x,x+1): x for x in range(10)}
print("Dictionary with tuple keys:")
for k,v in d.items():
    print(k,":",v)
t=(5,6)
print("Tuple t:",t)
print(d[t])
print(d[1,2])

Containers:Tuples
Dictionary with tuple keys:
(0, 1) : 0
(1, 2) : 1
(2, 3) : 2
(3, 4) : 3
(4, 5) : 4
(5, 6) : 5
(6, 7) : 6
(7, 8) : 7
(8, 9) : 8
(9, 10) : 9
Tuple t: (5, 6)
5
1

In [ ]:
print("Demo of function: Program to find factorial of a number")
def fact(n):
    if n==1:
        return 1
    else:
        return( n *fact(n-1))
n=int(input("Enter the number:"))
print("Factorial:",fact(n))

Demo of function: Program to find factorial of a number

In [ ]:
class Greeter:
    def __init__(self,name):
        self.name=name
    def greet(self,loud=False):
        if loud:
            print("Hello,%s!"%self.name.upper())
        else:
            print('Hello,%s'%self.name)
g=Greeter('Fred')
g.greet()
g.greet(loud=True)

In [1]:
import pandas as pd
print("'inplace'parameter in pandas")
print()
ufo=pd.read_csv('http://bit.ly/uforeports')
print("DtaFrame")
print(ufo.head())
print("Shape",ufo.shape)
print()
ufo.drop('City',axis=1)
print(ufo.columns)
print()
ufo.drop('City',axis=1,inplace=True)
print(ufo.columns)
print()
ufo.drop('City',axis=1,inplace=True)
print(ufo.columns)
print()
print(ufo.shape)
print()
ufo.dropna(how='any')
print(ufo.shape)
print()
print("Using an assignment statement")
ufo=ufo.set_index('Time')
print(ufo.tail(3))
print()
print("DataFrame")
print(ufo.tal(3))
print()
print("Fill missing values using 'forward fill' stragegy")
print(ufo.fillna(method='ffill').tail(3))
print()
print("Dataframe")
print(ufo.tail(3))

'inplace'parameter in pandas

DtaFrame
                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00
Shape (18241, 5)

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

Index(['Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

KeyError: "['City'] not found in axis"

In [2]:
import pandas as pd
drinks=pd.read_csv("http://bit.ly/drinksbycountry")
print("Dataframe")
print(drinks.head())
print()
print("Mean beer serving across the entire dataset:",drinks.beer_servings.mean())
print("Mean beer servings across countries in Africa",drinks[drinks.continent=='Africa'].beer_servings.mean())
print()
print("Aggregate function used with groupby")
print()
print("Mean beer sevings for each continent",drinks.groupby('continent').beer_servings.mean())
print("maximum beer sevings for each continent",drinks.groupby('continent').beer_servings.max())
print("Multiple aggregate function can be used simultaneously")
print(drinks.groupby('continent').beer_servings.agg(['count','mean','min','max']))
drinks.groupby('continent').mean
%matplotlib inline
drinks.groupby('continent').mean().plot(kind='bar')

Dataframe
       country  beer_servings  spirit_servings  wine_servings  \
0  Afghanistan              0                0              0
1      Albania             89              132             54
2      Algeria             25                0             14
3      Andorra            245              138            312
4       Angola            217               57             45

   total_litres_of_pure_alcohol continent
0                           0.0      Asia
1                           4.9    Europe
2                           0.7    Africa
3                          12.4    Europe
4                           5.9    Africa

Mean beer serving across the entire dataset: 106.16062176165804
Mean beer servings across countries in Africa 61.471698113207545

Aggregate function used with groupby

Mean beer sevings for each continent continent
Africa            61.471698
Asia              37.045455
Europe           193.777778
North America    145.434783
Oceania           89.687500
South America    175.083333
Name: beer_servings, dtype: float64
maximum beer sevings for each continent continent
Africa           376
Asia             247
Europe           361
North America    285
Oceania          306
South America    333
Name: beer_servings, dtype: int64
Multiple aggregate function can be used simultaneously
               count        mean  min  max
continent
Africa            53   61.471698    0  376
Asia              44   37.045455    0  247
Europe            45  193.777778    0  361
North America     23  145.434783    1  285
Oceania           16   89.687500    0  306
South America     12  175.083333   93  333

TypeError: Could not convert AlgeriaAngolaBeninBotswanaBurkina FasoBurundiCote d'IvoireCabo VerdeCameroonCentral African RepublicChadComorosCongoDR CongoDjiboutiEgyptEquatorial GuineaEritreaEthiopiaGabonGambiaGhanaGuineaGuinea-BissauKenyaLesothoLiberiaLibyaMadagascarMalawiMaliMauritaniaMauritiusMoroccoMozambiqueNamibiaNigerNigeriaRwandaSao Tome & PrincipeSenegalSeychellesSierra LeoneSomaliaSouth AfricaSudanSwazilandTogoTunisiaUgandaTanzaniaZambiaZimbabwe to numeric

In [4]:
import pandas as pd
ufo=pd.read_csv('http://bit.ly/uforeports')
print("Dataframe")
print(ufo.head(3))
print()
print("Selecting multiple rows and coumns from pandas dataframe using 'loc':")
print()
print("first row,all columns")
print(ufo.loc[0,:])
print()
print("first 3 rows, all columns")
print(ufo.loc[[0,1,2],:])
print()
print(ufo.loc[0:2,:])
print()
print(ufo.loc[0:2])
print()
print("First 3 rows,one columns 'City'")
print(ufo.loc[0:2,['City']])
print()
print("First 3 rows,two columns 'City' and 'state'")
print(ufo.loc[0:2,['City','State']])
print()
print("Accomplish the same using double brackets")
print(ufo[['City','State']].head(3))
print()
print("First 3 rows,columns 'City' through 'State'")
print(ufo.loc[0:2,'City':'State'])
print()
print("Accomplish the same thing using 'head and 'drop'")
print(ufo.head(3).drop('Time',axis=1))
print()
print("Rows in which the 'City' is 'Oakland',column 'State'")
print(ufo.loc[ufo.City=='Oakland','State'])
print()
print("Accomplish the same thing using 'chained indexing'")
print(ufo[ufo.City=='Oakland'].State)
print()
print("Selecting multiple rows and columns from pandas Dataframe using 'iloc'")
print()
print("Rows in positions 0 and 1,columns in positions 0 and 3")
print(ufo.iloc[[0,1],[0,3]])
print()
print("Rows in positions 0 through 2(exclusive),columns in positions 0 through 4(exclusive)")
print(ufo.iloc[0:2,0:4])
print()
print("Rows in positons 0 through 2(exclusive),all columns")
print(ufo.iloc[0:2,:])
print()

Dataframe
          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

Selecting multiple rows and coumns from pandas dataframe using 'loc':

first row,all columns
City                       Ithaca
Colors Reported               NaN
Shape Reported           TRIANGLE
State                          NY
Time               6/1/1930 22:00
Name: 0, dtype: object

first 3 rows, all columns
          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

First 3 rows,one columns 'City'
          City
0       Ithaca
1  Willingboro
2      Holyoke

First 3 rows,two columns 'City' and 'state'
          City State
0       Ithaca    NY
1  Willingboro    NJ
2      Holyoke    CO

Accomplish the same using double brackets
          City State
0       Ithaca    NY
1  Willingboro    NJ
2      Holyoke    CO

First 3 rows,columns 'City' through 'State'
          City Colors Reported Shape Reported State
0       Ithaca             NaN       TRIANGLE    NY
1  Willingboro             NaN          OTHER    NJ
2      Holyoke             NaN           OVAL    CO

Accomplish the same thing using 'head and 'drop'
          City Colors Reported Shape Reported State
0       Ithaca             NaN       TRIANGLE    NY
1  Willingboro             NaN          OTHER    NJ
2      Holyoke             NaN           OVAL    CO

Rows in which the 'City' is 'Oakland',column 'State'
1694     CA
2144     CA
4686     MD
7293     CA
8488     CA
8768     CA
10816    OR
10948    CA
11045    CA
12322    CA
12941    CA
16803    MD
17322    CA
Name: State, dtype: object

Accomplish the same thing using 'chained indexing'
1694     CA
2144     CA
4686     MD
7293     CA
8488     CA
8768     CA
10816    OR
10948    CA
11045    CA
12322    CA
12941    CA
16803    MD
17322    CA
Name: State, dtype: object

Selecting multiple rows and columns from pandas Dataframe using 'iloc'

Rows in positions 0 and 1,columns in positions 0 and 3
          City State
0       Ithaca    NY
1  Willingboro    NJ

Rows in positions 0 through 2(exclusive),columns in positions 0 through 4(exclusive)
          City Colors Reported Shape Reported State
0       Ithaca             NaN       TRIANGLE    NY
1  Willingboro             NaN          OTHER    NJ

Rows in positons 0 through 2(exclusive),all columns
          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00

In [5]:
import pandas as pd
print("creating dummy variables")
print()
train=pd.read_csv('http://bit.ly/kaggletrain')
print("Dataframe")
print(train.head())
print()
print(pd.get_dummies(train.Sex).head())
print()
print(pd.get_dummies(train.Sex).iloc[:,1:].head())
print()
print(pd.get_dummies(train.Sex,prefix='Sex').iloc[:,1:].head())
print()
print(pd.get_dummies(train.Embarked,prefix='Embarked').head(10))
print()
print(pd.get_dummies(train.Embarked,prefix='Embarked').iloc[:,1:].head(10))
print()
train=pd.read_csv('http://bit.ly/kaggletrain')
print("Dataframe")
print(train.head())
print()
print(pd.get_dummies(train,columns=['Sex','Embarked']).head())
print()
print(pd.get_dummies(train,columns=['Sex','Embarked'],drop_first=True).head())

creating dummy variables

Dataframe
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

   female   male
0   False   True
1    True  False
2    True  False
3    True  False
4   False   True

    male
0   True
1  False
2  False
3  False
4   True

   Sex_male
0      True
1     False
2     False
3     False
4      True

   Embarked_C  Embarked_Q  Embarked_S
0       False       False        True
1        True       False       False
2       False       False        True
3       False       False        True
4       False       False        True
5       False        True       False
6       False       False        True
7       False       False        True
8       False       False        True
9        True       False       False

   Embarked_Q  Embarked_S
0       False        True
1       False       False
2       False        True
3       False        True
4       False        True
5        True       False
6       False        True
7       False        True
8       False        True
9       False       False

Dataframe
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1      0
2                             Heikkinen, Miss. Laina  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      1      0
4                           Allen, Mr. William Henry  35.0      0      0

             Ticket     Fare Cabin  Sex_female  Sex_male  Embarked_C  \
0         A/5 21171   7.2500   NaN       False      True       False
1          PC 17599  71.2833   C85        True     False        True
2  STON/O2. 3101282   7.9250   NaN        True     False       False
3            113803  53.1000  C123        True     False       False
4            373450   8.0500   NaN       False      True       False

   Embarked_Q  Embarked_S
0       False        True
1       False       False
2       False        True
3       False        True
4       False        True

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1      0
2                             Heikkinen, Miss. Laina  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      1      0
4                           Allen, Mr. William Henry  35.0      0      0

             Ticket     Fare Cabin  Sex_male  Embarked_Q  Embarked_S
0         A/5 21171   7.2500   NaN      True       False        True
1          PC 17599  71.2833   C85     False       False       False
2  STON/O2. 3101282   7.9250   NaN     False       False        True
3            113803  53.1000  C123     False       False        True
4            373450   8.0500   NaN      True       False        True

In [9]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'id':[100,101,102],'color':['red','blue','red']},columns=['id','color'],index=['a','b','c'])
print("Datframe from a dictionary")
print(df)
print()
print("dataframe from alist of lists")
print(pd.DataFrame([[100,'red'],[101,'blue'],[102,'red']],columns=['id','color']))
print()
arr=np.random.rand(4,2)
print("Numpy array")
print(arr)
print()
print("Dataframe from the above defined Numpy array")
print(pd.DataFrame(arr,columns=['one','two']))
print()
print("DtaFrame of student IDs")
print(pd.DataFrame({'student':np.arange(100,110,1),'test':np.random.randint(60,101,10)}))
print()
print(pd.DataFrame({'student':np.arange(100,110,1),'test':np.random.randint(60,101,10)}).set_index('student'))
print()
s=pd.Series(['round','square'],index=['c','b'],name='shape')
print(s)
print()
print(pd.concat([df,s],axis=1))

Datframe from a dictionary
    id color
a  100   red
b  101  blue
c  102   red

dataframe from alist of lists
    id color
0  100   red
1  101  blue
2  102   red

Numpy array
[[0.36482254 0.51524359]
 [0.03052938 0.92551999]
 [0.35785361 0.58648991]
 [0.23186489 0.03285475]]

Dataframe from the above defined Numpy array
        one       two
0  0.364823  0.515244
1  0.030529  0.925520
2  0.357854  0.586490
3  0.231865  0.032855

DtaFrame of student IDs
   student  test
0      100    60
1      101    72
2      102    85
3      103    66
4      104   100
5      105    97
6      106    75
7      107    62
8      108    97
9      109    71

         test
student
100        81
101       100
102        60
103        81
104        75
105        60
106        78
107        71
108        75
109        93

c     round
b    square
Name: shape, dtype: object

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round

In [10]:
import pandas as pd
drinks=pd.read_csv('http://bit.ly/drinksbycountry')
print("Shape",drinks.shape)
print()
pd.get_option('display.max_rows')
print(drinks)
print()
pd.set_option('display.max_rows',2)
print(drinks)
print()
pd.reset_option('display.max_rows',2)
print(drinks)
print()
drinks['x']=drinks.wine_servings*1000
drinks['y']=drinks.total_litres_of_pure_alcohol*1000
print(drinks.head())
print()
pd.set_option('display.float_format','{:,}'.format)
print(drinks.head())
print()
train=pd.read_csv('http://bit.ly/kaggletrain')
pd.get_option('display.max_colwidth')
print(train.head())
print()
pd.set_option('display.max_colwidth',1000)
print(train.head())
print()

Shape (193, 6)

         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol      continent
0                             0.0           Asia
1                             4.9         Europe
2                             0.7         Africa
3                            12.4         Europe
4                             5.9         Africa
..                            ...            ...
188                           7.7  South America
189                           2.0           Asia
190                           0.1           Asia
191                           2.5         Africa
192                           4.7         Africa

[193 rows x 6 columns]

         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
..           ...            ...              ...            ...
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol continent
0                             0.0      Asia
..                            ...       ...
192                           4.7    Africa

[193 rows x 6 columns]

         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol      continent
0                             0.0           Asia
1                             4.9         Europe
2                             0.7         Africa
3                            12.4         Europe
4                             5.9         Africa
..                            ...            ...
188                           7.7  South America
189                           2.0           Asia
190                           0.1           Asia
191                           2.5         Africa
192                           4.7         Africa

[193 rows x 6 columns]

       country  beer_servings  spirit_servings  wine_servings  \
0  Afghanistan              0                0              0
1      Albania             89              132             54
2      Algeria             25                0             14
3      Andorra            245              138            312
4       Angola            217               57             45

   total_litres_of_pure_alcohol continent       x        y
0                           0.0      Asia       0      0.0
1                           4.9    Europe   54000   4900.0
2                           0.7    Africa   14000    700.0
3                          12.4    Europe  312000  12400.0
4                           5.9    Africa   45000   5900.0

       country  beer_servings  spirit_servings  wine_servings  \
0  Afghanistan              0                0              0
1      Albania             89              132             54
2      Algeria             25                0             14
3      Andorra            245              138            312
4       Angola            217               57             45

   total_litres_of_pure_alcohol continent       x        y
0                           0.0      Asia       0      0.0
1                           4.9    Europe   54000  4,900.0
2                           0.7    Africa   14000    700.0
3                          12.4    Europe  312000 12,400.0
4                           5.9    Africa   45000  5,900.0

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex  Age  SibSp  \
0                            Braund, Mr. Owen Harris    male 22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female 38.0      1
2                             Heikkinen, Miss. Laina  female 26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female 35.0      1
4                           Allen, Mr. William Henry    male 35.0      0

   Parch            Ticket    Fare Cabin Embarked
0      0         A/5 21171    7.25   NaN        S
1      0          PC 17599 71.2833   C85        C
2      0  STON/O2. 3101282   7.925   NaN        S
3      0            113803    53.1  C123        S
4      0            373450    8.05   NaN        S

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                  Name     Sex  Age  SibSp  \
0                              Braund, Mr. Owen Harris    male 22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female 38.0      1
2                               Heikkinen, Miss. Laina  female 26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female 35.0      1
4                             Allen, Mr. William Henry    male 35.0      0

   Parch            Ticket    Fare Cabin Embarked
0      0         A/5 21171    7.25   NaN        S
1      0          PC 17599 71.2833   C85        C
2      0  STON/O2. 3101282   7.925   NaN        S
3      0            113803    53.1  C123        S
4      0            373450    8.05   NaN        S

In [15]:
import pandas as pd
print("'inplace'parameter in pandas")
print()
ufo=pd.read_csv('http://bit.ly/uforeports')
print("DtaFrame")
print(ufo.head())
print("Shape",ufo.shape)
print()
ufo.drop('City',axis=1)
print(ufo.columns)
print()
ufo.drop('City',axis=1,inplace=True)
print(ufo.columns)
print()
print(ufo.shape)
print()
ufo.dropna(how='any')
print(ufo.shape)
print()
print("Using an assignment statement")
ufo=ufo.set_index('Time')
print(ufo.tail(3))
print()
print("DataFrame")
print(ufo.tail(3))
print()
print("Fill missing values using 'forward fill' stragegy")
print(ufo.fillna(method='ffill').tail(3))
print()
print("Dataframe")
print(ufo.tail(3))

'inplace'parameter in pandas

DtaFrame
                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00
Shape (18241, 5)

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

Index(['Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

(18241, 4)

(18241, 4)

Using an assignment statement
                 Colors Reported Shape Reported State
Time
12/31/2000 23:45             NaN            NaN    WI
12/31/2000 23:45             RED          LIGHT    WI
12/31/2000 23:59             NaN           OVAL    FL

DataFrame
                 Colors Reported Shape Reported State
Time
12/31/2000 23:45             NaN            NaN    WI
12/31/2000 23:45             RED          LIGHT    WI
12/31/2000 23:59             NaN           OVAL    FL

Fill missing values using 'forward fill' stragegy
                 Colors Reported Shape Reported State
Time
12/31/2000 23:45             RED           DISK    WI
12/31/2000 23:45             RED          LIGHT    WI
12/31/2000 23:59             RED           OVAL    FL

Dataframe
                 Colors Reported Shape Reported State
Time
12/31/2000 23:45             NaN            NaN    WI
12/31/2000 23:45             RED          LIGHT    WI
12/31/2000 23:59             NaN           OVAL    FL